<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0" *ngIf="pessoa?.length">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pessoas</h5>
                  <span class="h2 font-weight-bold mb-0">{{ pessoa.length }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow" *ngIf="pessoa?.length">
        <div class="card-header border-0">
          <h3 class="mb-0">Listagem de pessoas cadastradas</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Nacionalidade</th>
                <th scope="col">Naturalidade</th>
                <th scope="col">Cpf</th>
                <th scope="col">Acões</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pessoa">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ p.nome }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.sexo == 'M' ? 'Masculino' : 'Feminino'}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.email }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.dataNascimento }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.nacionalidade.nome }}</span>
                    </div>
                  </div>
                </td>
                <td >
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.naturalidade.nome }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ p.cpf }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a class="btn btn-sm btn-icon-only text-light" [routerLink]="['/atualizar/', p.codigo]">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-icon-only text-light" (click)="removerPessoa(p.codigo)">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
